.main .right { width: 81%; height: auto }
.right h3 { line-height: 60px; padding: 0 20px; margin: 0; color: #265baa; font-weight: 400; border-bottom: 1px solid #E3E3E3; }
.acc { padding: 30px 0; line-height: 30px; color: #999; }
.acc>div { float: left; padding: 0 15px; }
.acc .photo { width: 25%; padding: 0 5%; }
.acc .detail { width: 40%; border-right: 1px solid #E3E3E3; }
.acc .msg { width: 35%; }
.photo img { display: block; width: 100%; border-radius: 50%; margin: 0 auto; }
.photo .blueBtn { width: 75%; line-height: 40px; margin: 15px auto; }
.detail p { margin: 15px 0; }
.detail p.sex label { width: 15%; display: inline-block; }
.detail span, .detail p.city, .msg { color: #666; }
.detail span { display: inline-block; width: 25%; text-align: right; max-width: 90px; padding-right: 5%; }
.detail p input[type='text'], .detail p.city select { padding: 5px 10px; height: 40px; width: 60%; border: 1px solid #d0d0d0; }
.detail p.city select { width: 29%; }
.detail p a.btn { border: 1px solid #265baa; padding: 5px 15px; margin-left: 5%; color: #265baa; }
.detail p a.btn:hover { background-color:#000; color: #fff; }
.msg { padding: 5px 2%; }
.msg label { padding-right: 10%; }
.submit { width: 75%; border-top: 1px solid #E3E3E3; float: right; padding: 20px 0; }
.submit .blueBtn { width: 150px; line-height: 44px; float: left; font-weight: lighter; font-size: 16px; }
