@charset "utf-8";
* { box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
body { font-size: 12px; font-family: "Microsoft Yahei UI", "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif; }
body, input, button, ol, ul, img { border: 0; margin: 0; padding: 0; }
a { color: #0275d8; text-decoration: none; }
a:active, a:hover { color: #24bcdc; text-decoration: none; }
input[type=checkbox] { vertical-align: middle; }
a, input, button { transition: all 150ms linear; text-decoration: none; }
img { vertical-align: middle; }
ol, ul { list-style: none; }
b { font-weight: 600; transition: all 200ms linear; }
u, s { text-decoration: none; }
i { font-style: normal; }
p { margin: 0; }
/* s 零散全局样式 */
.hide { display: none; }
.show { display: block; }
.clearfix:before, .clearfix:after { display: block; content: ""; clear: both; }
.whiteBtn { color: #265baa; background-color: #fff; text-align: center; cursor: pointer }
.blueBtn { color: #fff; background-color: #265baa; text-align: center; cursor: pointer }
.blueBtn:active, .whiteBtn:active { background-color: #000; }
.red { color: #f00; }
.blue { color: #265baa; }
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.ft12 { font-size: 12px; }
.ft14 { font-size: 14px; }
.ft16 { font-size: 16px; }
/* 全局通用位置控制样式  */
.m-xs { margin: 5px; }
.m-sm { margin: 10px; }
.m { margin: 15px; }
.m-md { margin: 20px; }
.m-lg { margin: 30px; }
.m-xl { margin: 50px; }
.m-n { margin: 0 !important; }
.m-l-none { margin-left: 0; }
.m-l-xxs { margin-left: 1px; }
.m-l-xs { margin-left: 5px; }
.m-l-sm { margin-left: 10px; }
.m-l { margin-left: 15px; }
.m-l-md { margin-left: 20px; }
.m-l-lg { margin-left: 30px; }
.m-l-xl { margin-left: 40px; }
.m-l-n-xxs { margin-left: -1px; }
.m-l-n-xs { margin-left: -5px; }
.m-l-n-sm { margin-left: -10px; }
.m-l-n { margin-left: -15px; }
.m-l-n-md { margin-left: -20px; }
.m-l-n-lg { margin-left: -30px; }
.m-l-n-xl { margin-left: -40px; }
.m-t-none { margin-top: 0; }
.m-t-xxs { margin-top: 1px; }
.m-t-xs { margin-top: 5px; }
.m-t-sm { margin-top: 10px; }
.m-t { margin-top: 15px; }
.m-t-md { margin-top: 20px; }
.m-t-lg { margin-top: 30px; }
.m-t-xl { margin-top: 40px; }
.m-t-n-xxs { margin-top: -1px; }
.m-t-n-xs { margin-top: -5px; }
.m-t-n-sm { margin-top: -10px; }
.m-t-n { margin-top: -15px; }
.m-t-n-md { margin-top: -20px; }
.m-t-n-lg { margin-top: -30px; }
.m-t-n-xl { margin-top: -40px; }
.m-r-none { margin-right: 0; }
.m-r-xxs { margin-right: 1px; }
.m-r-xs { margin-right: 5px; }
.m-r-sm { margin-right: 10px; }
.m-r { margin-right: 15px; }
.m-r-md { margin-right: 20px; }
.m-r-lg { margin-right: 30px; }
.m-r-xl { margin-right: 40px; }
.m-r-n-xxs { margin-right: -1px; }
.m-r-n-xs { margin-right: -5px; }
.m-r-n-sm { margin-right: -10px; }
.m-r-n { margin-right: -15px; }
.m-r-n-md { margin-right: -20px; }
.m-r-n-lg { margin-right: -30px; }
.m-r-n-xl { margin-right: -40px; }
.m-b-none { margin-bottom: 0; }
.m-b-xxs { margin-bottom: 1px; }
.m-b-sxs { margin-bottom: 2px; }
.m-b-xs { margin-bottom: 5px; }
.m-b-sm { margin-bottom: 10px; }
.m-b { margin-bottom: 15px; }
.m-b-md { margin-bottom: 20px; }
.m-b-lg { margin-bottom: 30px; }
.m-b-xl { margin-bottom: 40px; }
.m-b-n-xxs { margin-bottom: -1px; }
.m-b-n-xs { margin-bottom: -5px; }
.m-b-n-sm { margin-bottom: -10px; }
.m-b-n { margin-bottom: -15px; }
.m-b-n-md { margin-bottom: -20px; }
.m-b-n-lg { margin-bottom: -30px; }
.m-b-n-xl { margin-bottom: -40px; }
.p-xs { padding: 5px; }
.p-sm { padding: 10px; }
.p { padding: 15px; }
.p-md { padding: 20px; }
.p-lg { padding: 30px; }
.p-xl { padding: 50px; }
.p-n { padding: 0 !important; }
.p-l-none { padding-left: 0; }
.p-l-xxs { padding-left: 1px; }
.p-l-xs { padding-left: 5px; }
.p-l-sm { padding-left: 10px; }
.p-l { padding-left: 15px; }
.p-l-md { padding-left: 20px; }
.p-l-lg { padding-left: 30px; }
.p-l-xl { padding-left: 40px; }
.p-t-none { padding-top: 0; }
.p-t-xxs { padding-top: 1px; }
.p-t-xs { padding-top: 5px; }
.p-t-sm { padding-top: 10px; }
.p-t { padding-top: 15px; }
.p-t-md { padding-top: 20px; }
.p-t-lg { padding-top: 30px; }
.p-t-xl { padding-top: 40px; }
.p-r-none { padding-right: 0; }
.p-r-xxs { padding-right: 1px; }
.p-r-xs { padding-right: 5px; }
.p-r-sm { padding-right: 10px; }
.p-r { padding-right: 15px; }
.p-r-md { padding-right: 20px; }
.p-r-lg { padding-right: 30px; }
.p-r-xl { padding-right: 40px; }
.p-b-none { padding-bottom: 0; }
.p-b-xxs { padding-bottom: 1px; }
.p-b-sxs { padding-bottom: 2px; }
.p-b-xs { padding-bottom: 5px; }
.p-b-sm { padding-bottom: 10px; }
.p-b { padding-bottom: 15px; }
.p-b-md { padding-bottom: 20px; }
.p-b-lg { padding-bottom: 30px; }
.p-b-xl { padding-bottom: 40px; }
/* 通用底部 */
.upblock { display: table; margin: 10px auto; }
.uiconarea { width: 220px; height: 74px; margin: 20px auto; font-size: 14px; padding-left: 80px; vertical-align: middle; display: table-cell; }
.uiconarea.btn01 { background: url("../img/cs-icon-74x74.png")no-repeat; }
.uiconarea.btn02 { background: url("../img/dd-icon-74x74.png")no-repeat; }
.uiconarea span { font-size: 20px; }
.upfarea { padding: 0; }
.upfarea a:hover { text-decoration: none; }
a.upfbtn { width: 50%; float: left; }
a.upfbtn:hover { background: #265baa; color: white; }
a.upfbtn:hover .uiconarea.btn01 { background: url("../img/cs-icon-74x74-w.png")no-repeat; }
a.upfbtn:hover .uiconarea.btn02 { background: url("../img/dd-icon-74x74-w.png")no-repeat; }
footer { display: block; float: left; width: 100%; background: #f0f0f0; padding-top: 40px; border-top: 1px solid #d6d6d6; }
.bottomarea { background: #6fa4d8; text-align: center; color: white; font-size: 12px; padding: 20px; float: left; width: 100%; }
.fmenu { width: 20%; float: left; font-size: 13px; line-height: 24px; color: black; }
.bmenutitle { font-size: 18px; margin-bottom: 14px; background: url("../img/fdot.jpg")no-repeat 0 4px; padding-left: 30px; }
.bottomright { text-align: right; padding-right: 70px; width: 30%; float: left; }
.ftList { margin-left: 30px; }
.ftList a { color: black; }
.ftList a:hover { color: #265baa; }
.bottomNav { margin-bottom: 30px; padding: 0 0 0 60px; width: 70%; float: left; }
u.sicon { float: right; margin-left: 15px; padding: 5px; width: 56px; height: 56px; background: white; border: 1px solid #265baa; display: block; }
u.sicon:hover { background: #265baa; }
.siconarea { width: 100%; display: block; position: relative; float: right; }
.hotlinetext { float: right; margin-top: 15px; font-weight: normal; color: black; }
.hotlinepart { float: right; width: 100%; display: block; position: relative; }
.hotline { width: 70%; display: block; position: relative; float: right; }
.hotline img { width: 100%; }
.workday { width: 30%; display: block; position: relative; float: right; font-size: 12px; height: 36px; margin-top: 13px; line-height: 16px; }
.mailadd { width: 100%; display: block; position: relative; float: right; text-transform: uppercase; }
/* 头部 */
.header-bar { position: absolute; top: 0; z-index: 2; width: 100%; }
.top-bar { position: relative; float: left; width: 100%; }
.left-part { width: 50%; float: left; display: block; margin: 15px 0; }
.left-part .topinfotext { margin-left: 50px; }
.right-part { width: 50%; float: right; display: block; text-align: right; margin: 15px 0; }
.right-part .loginarea { margin-right: 50px; }
.loginarea { float: right; font-size: 14px; }
.topinfotext { font-size: 14px; color: #848484; float: left; display: block; }
.weibo, .weixin { display: inline-block; background-size: cover; margin-right: 10px; }
.weibo { background-image: url(../img/footersicon-weibo-56x56.png); }
.weixin { background-image: url(../img/footersicon-weixin-56x56.png); }
.topsicon { float: left; display: block; margin-left: 25px; position: relative; top: 3px; }
.topsicon u, .siconarea u { cursor: pointer; position: relative; }
.topsicon u i { width: 16px; height: 16px; }
.topsicon u div, .siconarea u div { display: none; position: absolute; left: -100px; z-index: 20; text-align: center; font-size: 14px; background-color: #fff; padding-bottom: 15px; }
.topsicon u:hover div, .siconarea u:hover div { display: block; }
.topsicon .weibo:hover { background-image: url(../img/footersicon-weibo-56x56-hover-b.png); }
.topsicon .weixin:hover { background-image: url(../img/footersicon-weixin-56x56-hover-b.png); }
.siconarea u i { width: 36px; height: 36px; margin: 5px; }
.siconarea u div { left: -150px; top: -295px; }
.siconarea u:hover .weibo { background-image: url(../img/footersicon-weibo-56x56-hover.png); }
.siconarea u:hover .weixin { background-image: url(../img/footersicon-weixin-56x56-hover.png); }
.loginarea a:hover { color: black; }
.right-part .topinfotext { float: right; margin-right: 10px; }
.branding { text-align: center; width: 100%; }
.rbtnarea { position: absolute; top: 80px; right: 54px; }
.rbtnarea a { display: block; width: 70px; height: 70px; text-align: center; float: right; color: #265baa; text-decoration: none; padding: 6px; font-size: 14px; margin-left: 20px; }
.rbtnarea a.trbtn01 .btninner { background: url(../img/cart-icon-38x38.png)no-repeat center center; }
.rbtnarea a.trbtn02 .btninner { background: url(../img/search-icon-38x38.png)no-repeat center center; }
.btninner { width: 38px; height: 38px; margin: 0 auto; }
.rbtnarea a:hover { background: #265baa; color: white; }
.rbtnarea a.trbtn01:hover .btninner { background: url("../img/cart-icon-38x38-w.png")no-repeat center center; }
.rbtnarea a.trbtn02:hover .btninner { background: url("../img/search-icon-38x38-w.png")no-repeat center center; }
.noicon { position: absolute; top: 4px; right: 10px; background: #a5ccee; width: 16px; height: 16px; font-size: 12px; color: #265baa; border-radius: 50%; text-align: center; font-weight: 600; }
.text01 { position: absolute; left: 50%; margin-left: -107px; margin-top: 40px; }
.text02 { position: absolute; left: 50%; margin-left: -107px; margin-top: 85px; }
.searchInput { display: none; height: 70px; text-align: center; float: right; color: #265baa; text-decoration: none; padding: 0 6px; font-size: 14px; border: 1px solid #265baa; line-height: 70px; background-color: #fff; }
.searchInput input { display: inline-block; height: 38px; vertical-align: middle; padding-left: 10px; }
.closeSearch { width: 38px; height: 38px; background: url(../img/close-search-icon-38x38.png); display: inline-block; cursor: pointer; vertical-align: middle; }
.closeSearch:hover { background: url(../img/close-search-icon-38x38-w.png) #265baa; }
.search { width: 38px; height: 38px; background: url(../img/search-icon-38x38.png); display: inline-block; cursor: pointer; vertical-align: middle; }
.search:hover { background: url(../img/search-icon-38x38-w.png) #265baa; }
/* 头部导航 */
.navigation { width: 100%; display: block; margin: 10px 0px; background: rgba(255, 255, 255, 0.65); box-shadow: 0px 2px 10px #eaeaea; padding: 0; position: relative; list-style: none; }
#primary-menu .nav-item { float: none; display: inline-block; vertical-align: middle; padding: 10px 25px; cursor: pointer; }
.dropdown-toggle::after { text-decoration: none; display: inline-block; width: 0; height: 0; margin-left: .3em; vertical-align: middle; content: ""; border-top: .3em solid; border-right: .3em solid transparent; border-left: .3em solid transparent; }
.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; font-size: 1rem; color: #373a3c; text-align: left; list-style: none; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid rgba(0, 0, 0, .15); border-radius: .25rem;
color: #265baa; }
#primary-menu .dropdown-menu li { padding: 10px 15px; }
.dropdown, .dropup { position: relative; }
#primary-menu { text-align: center; position: relative; padding: 0; margin-top: 20px; }
#primary-menu .nav-item { float: none; display: inline-block; vertical-align: middle; padding: 10px 25px; cursor: pointer; }
#primary-menu .nav-item:hover { background: #265baa; }
#primary-menu .nav-item a { color: #265baa; font-size: 18px; font-weight: bold; }
#primary-menu .nav-item:hover>a { color: #FFF; }
#primary-menu .nav-item:hover a .dropdown-menu { color: #265baa; }
.navbar-nav .nav-item+.nav-item { margin-left: 0; }
#primary-menu .dropdown-menu li a { font-size: 16px; font-weight: lighter; width: 100%; padding: 10px 20px; color: #265baa; }
#primary-menu .dropdown-menu { width: 11em; background-color: #FFF; }
#primary-menu .secmenu li { padding: 0; }
#primary-menu .secmenu li a { display: block; }
#primary-menu .secmenu li a:hover { background: #265baa; color: #FFF; }
.dropdown:hover .dropdown-menu { display: block; margin-top: 0; }
.banner { width: 100%; height: 500px; background-image: url(../img/all-goods-titleslider-1680x510.jpg); background-size: 100% 100%; }
a.sliderbtn { padding: 15px 70px; color: white; font-size: 20px; background: #265baa; transition: all 150ms linear; }
/* fixbar */
.fixnav { position: fixed; z-index: 10; top: 0; margin: 0; background-color: #fff; padding: 15px; display: none; }
.fixnav img { float: left; width: 80px; }
.fixnav #primary-menu { text-align: left; margin-top: 10px; }
.fixnav .rbtnarea { top: 22px; }
.fixnav .searchInput { display: inline-block; height: 52px; line-height: 50px; }
.fixnav .searchInput input { width: 280px; }
.textImg { width: 420px; text-align: center; border: 1px solid #265baa; padding: 15px; background: rgba(255, 255, 255, 0.3); margin: 50px auto; line-height: 45px; }
@media (max-width: 1200px) {
.fixnav .searchInput input { width: 80px; }
}
