a.sliderbtn { padding: 15px 70px; color: white; font-size: 20px; background: #265baa; transition: all 150ms linear; }
a.sliderbtn:hover { background: black; color: white; text-decoration: none; }
.grid-item { width: 25%; }
.grid-item-width2 { width: 50%; }
.grid .gridad1 .ad-title { position: absolute; top: 56px; left: 65px; color: white; font-weight: bold; font-size: 30px; }
.grid .gridad2 .ad-title { position: absolute; bottom: 120px; right: 65px; color: white; font-weight: bold; font-size: 30px; }
.grid .gridad1 .ad-subtitle { position: absolute; top: 40px; left: 10px; color: white; }
.grid .gridad2 .ad-subtitle { position: absolute; bottom: 90px; right: 65px; color: white; }
.grid .gridad1 a.morebtn { position: absolute; top: 115px; left: 65px; background: #b20f18; padding: 8px 16px; color: white; font-size: 15px; }
.grid .gridad1 a.morebtn:hover { background: white; color: #b20f18; }
.grid .gridad2 a.morebtn { position: absolute; bottom: 44px; right: 65px; background: #265baa; padding: 8px 16px; color: white; font-size: 15px; }
.grid .gridad2 a.morebtn:hover { background: white; color: #265baa; }
.grid .girdimg { width: auto; }
.grid .girdimg img { display: block; margin: 0; padding: 0; width: 100%; }
.grid { box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1); }
.gsbg { position: absolute; bottom: 0; width: 100%; height: 18%; color: white; z-index: 4; }
.gsbg a { color: white; }
.gsbg a:hover { color: #265baa; }
.secgrid01 .gsbg { background: rgba(218, 43, 41, 0.8); }
.secgrid02 .gsbg { background: rgba(150, 153, 162, 0.76); }
.secgrid03 .gsbg { background: rgba(87, 49, 32, 0.83); }
.secgrid04 .gsbg { background: rgba(183, 120, 65, 0.78); }
.gbgtitle { font-size: 18px; line-height: 60px; padding-left: 30px; float: left; }
.gbgsubtitle { float: right; line-height: 60px; padding-right: 30px; font-size: 15px; }
a.secgrid:hover .gsbg { height: 90px; line-height: 90px; }
a.secgrid:hover .gsbg .gbgtitle { font-size: 28px; }
a.secgrid .gsbg .gbgtitle { transition: all 150ms linear; }
a.secgrid .gsbg { transition: all 150ms linear; cursor: pointer; }
a.secgrid .cover, .grid-item-width2 .cover { z-index: 3; background: rgba(0, 0, 0, 0); width: 100%; display: block; float: left; height: 100%; position: absolute; transition: all 150ms linear; }
a.secgrid:hover .cover, .grid-item-width2:hover .cover { background: rgba(0, 0, 0, 0.36); }
a.morebtn { z-index: 5; cursor: pointer; }
.hoverpart { z-index: 5; }
