.profile { padding: 3% 5%; font-size: 14px; }
.photo { width: 30%; border-right: 1px solid #ccc; }
.state { width: 55%; padding-top: 40px; }
.money { width: 15%; }
.photo img { border-radius: 50%; width: 35%; float: left; margin-right: 5%; }
.photo>div { float: left; color: #265baa; font-size: 16px; }
.photo p { line-height: 50px; }
.photo p.big { font-size: 30px; color: #000; }
.photo p span { display: inline-block; width: 60px; height: 20px; line-height: 20px; margin: 0 15px; background-color: #EFEFEF; position: relative; top: 5px; }
.photo p span i { display: inline-block; width: 15%; height: 100%; background-color: #FD8B8A; }
.state li { float: left; width: 20%; text-align: center; line-height: 30px; color: #265baa; cursor: pointer; }
.state li i { display: block; font-weight: 600; }
.state li span { display: block; width: 50px; height: 50px; margin: 0 auto; background-size: cover; }
.state .ico1 { background-image: url(../img/ordericon01-50x50.png); }
.state li:hover .ico1 { background-image: url(../img/ordericon01-50x50-hover.png); }
.state .ico2 { background-image: url(../img/ordericon02-50x50.png); }
.state li:hover .ico2 { background-image: url(../img/ordericon02-50x50-hover.png); }
.state .ico3 { background-image: url(../img/ordericon03-50x50.png); }
.state li:hover .ico3 { background-image: url(../img/ordericon03-50x50-hover.png); }
.state .ico4 { background-image: url(../img/ordericon04-50x50.png); }
.state li:hover .ico4 { background-image: url(../img/ordericon04-50x50-hover.png); }
.state .ico5 { background-image: url(../img/ordericon05-50x50.png); }
.state li:hover .ico5 { background-image: url(../img/ordericon05-50x50-hover.png); }
.money .QRcode { width: 50px; height: 50px; margin: 0 auto; background-size: cover; cursor: pointer; background-image: url(../img/shareicon-50x50.png); }
.money .QRcode:hover { background: url(../img/shareicon-50x50-hover.png) #265baa; }
.money .blue { margin-bottom: 20px; }
.money .balance { display: inline-block; padding: 15px 5px; border: 1px solid #ccc; width: 70%; background-color: #EFEFEF; border-right: none; color: #000; }
.money .blueBtn { display: inline-block; padding: 15px 5px; border: 1px solid #ccc; width: 30%; }
.money .btn:hover { background-color: #000; }
.main>div { width: 30%; }
.main div h3 { height: 60px; line-height: 60px; color: #265baa; text-align: center; margin: 0; font-weight: normal; font-size: 16px; }
.book li { border-top: 1px solid #E3E3E3; border-bottom: 1px solid #E3E3E3; margin-bottom: 5px; color: #999; line-height: 24px; height: 150px; }
.book li:after { display: block; content: ""; clear: both; }
.book .detail { width: 82%; padding: 10px; }
.book .detail .blue { line-height: 30px; }
.book .detail p span { color: #000; }
.book .bookState { width: 18%; height: 100%; }
.book .bookState b { font-size: 13px; display: block; text-align: center; cursor: pointer; }
.book .bookState b:hover { background-color: #000; color: #FFF; }
.book .bookState .sign, .book .bookState .cancel { width: 100%; height: 74px; line-height: 74px; }
.book .bookState .sign { color: #FFF; background-color: #265baa; }
.book .bookState .cancel { border: 1px solid #265baa; color: #265baa; }
.book .bookState .booking, .book .bookState .over { width: 85%; height: 30px; line-height: 30px; color: #FFF; margin-top: 50px; }
.book .bookState .booking { background-color: #4CD911; }
.book .bookState .over { background-color: #9F9F9F; }
.blueBtn.more { width: 150px; margin: 35px auto; height: 40px; line-height: 40px; font-size: 14px; }
.main>div.service { width: 19%; }
.service>div { border-top: 1px solid #E3E3E3; padding: 10px 30px 30px; }
.service img { border-radius: 50%; width: 70%; display: block; margin: auto; }
.service p { text-indent: 2em; line-height: 25px; color: #999; font-size: 13px; padding: 10px 10%; }
.service .blueBtn.more, .right .blueBtn.more { margin: 20px auto; max-width: 150px; width: 60%; }
.right { line-height: 30px; }
.right .rightIco { border-top: 1px solid #E3E3E3; border-bottom: 1px solid #E3E3E3; }
.right .rightIco>div { float: left; width: 50%; padding: 20px 5px; cursor: pointer; }
.right .rightIco>div:first-child { border-right: 1px solid #E3E3E3; }
.right .rightIco .score { }
.right .rightIco div span { display: block; width: 50px; height: 50px; margin: 0 auto; background-size: cover; }
.right .rightIco .score { background-image: url(../img/myrighticon01-50x50.png); }
.right .rightIco div:hover .score { background-image: url(../img/myrighticon01-50x50-hover.png); }
.right .rightIco .coupon { background-image: url(../img/myrighticon02-50x50.png); }
.right .rightIco div:hover .coupon { background-image: url(../img/myrighticon02-50x50-hover.png); }
.right .rightIco div i { display: block; font-size: 14px; }
.right .rightIco div b { font-size: 20px; }
.right .rightBtn { border-bottom: 1px solid #E3E3E3; }
.right .rightBtn>div { float: left; width: 50%; }
.right p { margin: 10px auto; }
.right .card { width: 80%; display: block; margin: 0 auto 30px; }
@media (max-width: 1200px) {
.profile { font-size: 12px; }
.photo>div { font-size: 14px; }
.photo p.big { font-size: 20px; }
}
