.main .right{width:81%;height:auto}
.right h3{line-height:60px;padding:0 20px;margin:0;color:#265baa;font-weight:400;}
.right .searchInput{height:40px;line-height:36px;margin:10px 0;padding:0 2px;display:block; border-color:#c4c4c4;}
.right .searchInput input{height:30px;}
.right .search{width:30px;height:30px;background-size:cover;}
.grid table{width:100%;border-width:1px;border-collapse:collapse;background:#fff;}
table td{border-width:1px;border-style:solid;background-color:#ffffff;border-color:#E3E3E3;border-left:none;padding:10px 20px;text-align:center;vertical-align:top;}
.wth25{width:25%;background-color:#f8f8f8;line-height:1.5;}
.wth25 img{width:90%;margin-bottom:10px;}
.page{background-color:#EFEFEF;margin:-1px;margin-top:0;text-align:right;line-height:35px;padding:10px 0px;}
.page li{display:inline-block;margin-left:5px;}
.page a{color:#4f4f4f;cursor:pointer;}
.page .active{color:#265baa;}
.pre,.next{background-color:#E1F1FF;padding:8px 20px;border:1px solid #265baa;}