.main .right { width: 81%; height: auto }
.right h3 { line-height: 60px; padding: 0 20px; margin: 0; color: #265baa; font-weight: 400; }
.right .searchInput { height: 40px; line-height: 36px; margin: 10px 0; padding: 0 2px; display: block; border-color: #c4c4c4; }
.right .searchInput input { height: 30px; }
.right .search { width: 30px; height: 30px; background-size: cover; }
.recharge { border-top: 1px solid #E3E3E3; border-bottom: 1px solid #E3E3E3; }
.recharge:after { content: ''; height: 8px; border-top: 1px solid #E3E3E3; float: none; }
.recharge>div { padding: 30px 40px; }
.recharge>div.fl.tc { width: 20%; border-right: 1px solid #E3E3E3; }
.recharge>div>p { color: #000; }
.recharge input { border: 1px solid #c4c4c4; height: 35px; line-height: 35px; padding: 3px 10px; margin-left: 15px; }
.payment { border-left: 1px solid #999; border-top: 1px solid #999; float: left; margin-left: 30px; margin-bottom:30px; }
.payment li { width: 200px; height: 100px; float: left; position: relative; border-right: 1px solid #999; border-bottom: 1px solid #999; }
.payment li img { width: 100%; }
.payment li.on:after { content: ''; position: absolute; top: 0; right: 0; width: 30px; height: 30px; background-image: url(../img/payment-seclected-72x72.jpg); background-size: cover; }
.toRecharge{border-top: 1px solid #E3E3E3; padding-left:30px;}
.toRecharge .blueBtn{ width: 150px; margin: 25px 0 35px; height: 40px; line-height: 40px; font-size: 14px; font-weight:lighter; display:block;}