.banner{height:229px;background:#fff;}
.navigation{background:#265baa;box-shadow:none;}
.fixnav{background:#fff;box-shadow:none;}
.fixnav #primary-menu .nav-item a{color:#265baa;}
.fixnav #primary-menu .nav-item a:hover{color:#fff;}
#primary-menu .nav-item a{color:#fff;}
.breadnav{margin-bottom:0;padding-bottom:0;height:45px;line-height:45px;color:#969696;padding-left:60px;}
.product{border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;position:relative;}
.breadnav strong a{font-weight:500;font-size:18px;color:#265baa;}
.breadnav a{color:#969696;}
.breadnav a:hover{color:#265baa;}
.preview{width:400px;height:493px;float:left;}

/* smallImg */
.smallImg{position:relative;margin-top:1px;padding:6px 5px;width:400px;overflow:hidden;float:left;}
.scrollbutton{width:32px;height:58px;overflow:hidden;position:relative;float:left;cursor:pointer;margin-top:10px;}
.scrollbutton.smallImgUp,.scrollbutton.smallImgUp.disabled{background:url(../img/left-arrow-32x58.png) no-repeat;}
.scrollbutton.smallImgDown,.scrollbutton.smallImgDown.disabled{background:url(../img/right-arrow-32x58.png) no-repeat;/* margin-left: 350px; */  /* margin-top: -58px; */}
#imageMenu{  /* height:50px; */width:326px;overflow:hidden;margin-left:0;float:left;}
#imageMenu li{height:80px;width:80px;overflow:hidden;float:left;text-align:center;margin-left:1px;}
#imageMenu li img{width:80px;height:80px;cursor:pointer;border:2px solid transparent}
#imageMenu li#onlickImg img,#imageMenu li:hover img{border:2px solid #265baa}

/* bigImg */
.bigImg{position:relative;float:left;width:400px;height:400px;overflow:hidden;}
.bigImg #midimg{width:400px;height:400px;}
.bigImg #winSelector{width:235px;height:210px;}
#winSelector{position:absolute;cursor:crosshair;filter:alpha(opacity=15);-moz-opacity:0.15;opacity:0.15;background-color:#000;border:1px solid #fff;}

/* bigView */
#bigView{position:absolute;border:1px solid #959595;overflow:hidden;z-index:999;}
#bigView img{position:absolute;}
.intro{width:50%;padding:0 50px;float:left;position:relative;}
.intro .rbtnarea{top:20px;right:50px;}
.intro .rbtnarea a{margin-left:0;}
.intro .rbtnarea a:hover{color:#265baa;background:white;}
.rbtnarea a.trbtn03 .btninner{background:url(../img/likeiticon-45x45.png)no-repeat center center;}
.rbtnarea a.trbtn04 .btninner{background:url(../img/shareicon-45x45.png)no-repeat center center;}
.rbtnarea a.trbtn03:hover .btninner{background:url("../img/likeiticon-45x45-hover.png")no-repeat center center;}
.rbtnarea a.trbtn04:hover .btninner{background:url("../img/shareicon-45x45-hover.png")no-repeat center center;}
.intro h3{font-weight:500;font-size:18px;color:#265baa;s}
.intro p{line-height:1.5;width:300px;color:#9d9d9d;}
.price{background-color:#f6f6f6;color:#575757;padding:20px;margin:20px 0;font-size:14px;}
.price small{text-decoration:line-through;}
.price mark{background-color:transparent;color:#e80422;font-weight:bold;}
.quantity-wrapper{display:inline-block;height:30px;border-radius:5px;float:left;padding:20px 0}
.num-wrapper{height:auto;}
.quantity-decrease,.quantity-increase{background:#ebebeb;border:1px solid #cbcbcb;color:#232326;display:block;line-height:24px;width:30px;overflow:hidden;text-indent:-200px}
.quantity-decrease em{background:url(../img/cart-number-new.png) no-repeat;background-size:25px 25px;background-position:0 -15px;height:12px;width:12px;display:block;margin:6px;margin-left:8px}
.num-wrapper .quantity-decrease em{height:16px}
.num-wrapper .quantity{height:30px}
.quantity{color:#232326;border:solid #cbcbcb;border-width:1px 0;height:24px;width:34px;border-radius:0;-webkit-appearance:none}
.quantity,.quantity-decrease,.quantity-increase{float:left;font-size:15px;text-align:center;height:100%}
.quantity-increase{-webkit-border-radius:0 2px 2px 0}
.quantity-increase em{background:url(../img/cart-number-new.png) no-repeat 0 0;background-size:25px 25px;height:12px;width:12px;display:block;margin:6px;margin-top:10px;margin-left:8px}
#add{display:block;clear:both;padding:18px 10px;text-align:center;width:200px;}
.contact{width:20%;position:absolute;height:100%;border-left:1px solid #e4e4e4;right:0;text-align:center;}
.contact h3{font-weight:500;color:#265baa;margin-top:25px;}
.contact  img{width:70%;border-radius:50%;}
.contact p{line-height:1.5;color:#9d9d9d;width:70%;margin:10px auto;}
.ctBtn{padding:10px;display:block;width:70%;margin:10px auto;}
.info{color:#265baa;position:absolute;right:50px;bottom:0px;}
.master,.plus,.equal{float:left;width:150px;text-align:center;margin-right:100px;position:relative;width:11%;}
.recommend{border-bottom:1px solid #e4e4e4;padding:0 50px;}
.recommend h3{color:#265baa;font-size:16px;font-weight:500;}
.p-img img{width:100%;border:1px solid #e4e4e4;}
.p-name a{color:#265baa;margin:10px;display:block;}
.plus:before{display:block;content:'';width:50px;height:50px;background-image:url(../img/plus-icon-50x50.png);position:absolute;left:-75px;top:21%;}
.equal{margin:0;text-align:left;padding-top:20px;}
.equal:before{display:block;content:'';width:50px;height:50px;background-image:url(../img/eq-icon-50x50.png);position:absolute;left:-75px;top:21%;}
.choose{text-align:left;margin:10px 0;color:#e60100;}
.equal .count{color:#265baa;}
.equal .price{padding:0;background:none;}
.buy{background-color:#e80422;color:#fff;width:150px;padding:10px;}
.prdDesc li{width:150px;text-align:center;line-height:50px;color:#265baa;border:1px solid #e4e4e4;margin:0;padding:0;float:left;margin-left:-1px;border-top:0;}
.prdDesc li.active{color:#fff;background-color:#265baa;}
.prdContent img{width:100%;}
.prdContent{display:none;}
.content .active{display:block;}
.prdMark{position:relative;}
.percent{position:absolute;right:200px;top:0;line-height:50px;color:#e80422;}
.markCount{position:absolute;right:50px;top:0;line-height:50px;}
.prdMark h3{width:150px;text-align:center;line-height:50px;color:#265baa;margin:0;color:#fff;background-color:#265baa;}
.marks{border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;}
.marks .item{width:50%;float:left;padding:25px 0;}
.marks .item:nth-child(2n+1){border-right:1px solid #e4e4e4;}
.left{width:30%;float:left;text-align:center;}
.right{width:70%;float:left;padding-top:25px;padding-left:20px;}
.user{width:50%;margin:25px auto 10px;display:block;border-radius:50%;}
.stars{display:block;}
.stars img{width:2em;}
.time{line-height:2;margin-top:20px;display:block;}
.right img{width:20%;margin-top:50px;}
@media (max-width:1200px){
  .preview,.smallImg{width:300px;height:450px;}
  .bigImg{width:300px;height:300px;}
  .bigImg #midimg{width:300px;height:300px;}
  #imageMenu{width:226px;}
  #imageMenu li{height:55px;width:55px;}
  .scrollbutton{margin-top:0px;}
  .intro{padding:0 25px;}
  .intro .rbtnarea{right:0;}
}