.main{background-color:#EFEFEF;padding:2%;}
.main>div.service{width:40%;}
.main>div{float:left;margin-right:1%;background-color:#FFF;border:1px solid #E3E3E3;width:30%;height:632px;}
.service img{border-radius:50%;width:100%;display:block;margin-top:20px;}
.main div h3{height:60px;line-height:60px;color:#265baa;text-align:center;margin:0;font-weight:normal;font-size:16px;border-bottom:1px solid #E3E3E3;}
.service .left{width:45%;padding:10px 30px 30px;float:left;}
.change{width:100%;color:#265baa;border:1px solid #265baa;background-color:#fff;margin-top:20px;height:40px;line-height:40px;}
.right{float:left;width:55%;margin-top:25px;}
.right li{width:80%;border-bottom:1px solid #E3E3E3;line-height:40px;background:#fff;}
.right li:last-child{border-bottom:none;}
.right label{width:80px;display:inline-block;}
.bottom{width:100%;clear:both;color:#b5b5b5;border-top:1px solid #E3E3E3;padding:10px 30px 0px;}
.bottom p{margin:10px 0;line-height:1.5;text-indent:2em;}
.order{margin-top:20px;height:40px;line-height:40px;width:120px;float:left;}
.bottom span{color:#265baa;float:right;line-height:80px;}
.bottom i{border:1px solid;position:absolute;top:31px;left:-20px;width:16px;height:16px;border-radius:50%;text-align:center;line-height:16px;}
.main>div.chat{width:59%;margin-right:0;background-color:#f8f8f8;}
.main .chat h3{text-align:left;padding:0 30px;background:#fff;}
.newChat{float:right;padding:10px 20px;margin:10px 0;width:150px;}
.chatList{background:#fff;}
.chatList li{border-bottom:1px solid #E3E3E3;padding:20px 30px;}
.chatList p{display:inline-block;width:60%;}
.replay{float:right;margin-left:30px;padding:10px 20px;margin-top:-10px;}
.chatList span{float:right;color:#909090;}
.tip{text-align:center;margin:10px;color:#9c9c9c;}